<mat-card class="mat-elevation-z4">
    <mat-card-title>Codenames</mat-card-title>

    <mat-card-subtitle>
        Quick Rules
    </mat-card-subtitle>

    <p>
        The spymasters of each team know the codenames of all their secret agents. Their
        teammates do not know which agent is hiding behind each name. Both teams race to
        make contact with all of their agents first.
    </p>
    <p>
        On their turn, a spymaster gives a one-word clue that connects several cards on the
        board. Operatives try to guess their team's words while avoiding the cards that
        belong to the opposing team.
    </p>
    <p>
        And everyone wants to avoid the assassin.
    </p>

    <mat-card-actions align="end">
        <button mat-button (click)="onBackClick()">
            Back
        </button>
    </mat-card-actions>
</mat-card>
